<div class="sideBar">
  <ul class="sideBar">
    <li><a href="#newsLink">News</a></li>
    <li><a href="#dealsLink">Deals</a></li>
    <li><a href="#itemLink">New Items</a></li>
    <li><a href="#topLink">Back to Top</a></li>
  </ul>
</div>