<div class="newsBox1">
  <img src="http://placehold.it/150x150" alt="image 1" class="newsImage1">
    <div class="newsBoxContent">
      <h4><%= product.name %></h4>
      <p><%= product.desc %></p>
      <p><%= number_to_currency(product.price) %></p>
    </div>
</div>