<div class="newsBox1">
  <%= image_tag(product.photo, class: "newsImage1") %>
    <div class="newsBoxContent">
      <h4><%= product.name %></h4>
      <p><%= product.desc %></p>
      <p><%= number_to_currency(product.price) %></p>
    </div>
</div>