<div class="newsBox1">
  <%= image_tag(store_news.photo, class: "newsImage1") %>
    <div class="newsBoxContent">
      <h4><%= store_news.title %></h4>
      <p><%= store_news.body %></p>
    </div>
</div>