
    <div class="page">
    <%= render 'header' %>
    <%= render 'homeSide' %>
      <section class="news">
	<h1 class="newsBanner"><a id="newsLink">News</a></h1>
	<div class="newsContent">
          <img src="http://placehold.it/150x150" alt="image 1" class="newsImage1">
	  <img src="http://placehold.it/150x150" alt="image 2" class="newsImage2">
	  <img src="http://placehold.it/150x150" alt="image 3" class="newsImage3">
	</div>
      </section>
      <section class="deals">
	<h1 class="dealBanner"><a id="dealsLink">Deals</a></h1>
	<div class="dealContent">
          <img src="http://placehold.it/150x150" alt="image 1" class="newsImage1">
          <img src="http://placehold.it/150x150" alt="image 2" class="newsImage2">
          <img src="http://placehold.it/150x150" alt="image 3" class="newsImage3">
	</div>
      </section>
      <section class="special">
	<h1 class="specialBanner"><a id="superLink">This Month's Super Special</a></h1>
	<div class="specialContent">
	</div>
      </section>
      <section class="newItems">
        <h1 class="itemBanner"><a id="itemLink">New Items</a></h1>
	<div class="itemContent">
	</div>
      </section>
      <footer class="footer">
      </footer>
    </div>
