<div class="dataBox">
  <%= image_tag(all_products.photo, class: "dataImage") %>
    <div class="dataBoxContent">
      <h4><%= link_to all_products.name, show_products_path(all_products) %></h4>
      <p><%= all_products.desc %></p>
      <p><%= number_to_currency(all_products.price) %></p>
    </div>
</div>