<div class="productsBox">
  <%= image_tag(all_products.photo, class: "productsImage") %>
    <div class="productsBoxContent">
      <h4><%= all_products.name %></h4>
      <p><%= all_products.desc %></p>
      <p><%= number_to_currency(all_products.price) %></p>
    </div>
</div>