<div class="productsBox">
  <%= image_tag(deli_products.photo, class: "productsImage") %>
    <div class="productsBoxContent">
      <h4><%= deli_products.name %></h4>
      <p><%= deli_products.desc %></p>
      <p><%= number_to_currency(deli_products.price) %></p>
    </div>
</div>