<div class="dataBox">
  <%= image_tag(import_products.photo, class: "dataImage") %>
    <div class="dataBoxContent">
      <h4><%= link_to import_products.name, show_products_path(import_products) %></h4>
      <p><%= import_products.desc %></p>
      <p><%= number_to_currency(import_products.price) %></p>
    </div>
</div>