<div class="dataBox">
  <%= image_tag(new_products.photo, class: "dataImage") %>
    <div class="dataBoxContent">
      <h4><%= link_to new_products.name, show_products_path(new_products) %></h4>
      <p><%= new_products.desc %></p>
      <p><%= number_to_currency(new_products.price) %></p>
    </div>
</div>