<div class="productsBox">
  <%= image_tag(sale_products.photo, class: "productsImage") %>
    <div class="productsBoxContent">
      <h4><%= sale_products.name %></h4>
      <p><%= sale_products.desc %></p>
      <p><%= number_to_currency(sale_products.price) %></p>
    </div>
</div>