<div class="dataBox">
  <%= image_tag(show_product.photo, class: "dataImage") %>
    <div class="dataBoxContent">
      <h4><%= show_product.title %></h4>
      <p><%= show_product.body %></p>
    </div>
</div>