<%= image_tag(@show_products.photo, class: "showImage") %>
<div class="showBoxContent">
  <p><%= @show_products.desc %></p>
  <p><%= number_to_currency(@show_products.price) %></p>
  <p>Amount in stock: <%= @show_products.stock_q %></p>
</div>
