<div class="page">
  <%= render 'home/header' %>
  <%= render 'productSide' %>
  <section class="bakeryProducts">
    <h1 class="dataBanner">Products - Bakery</h1>
    <div class="dataContent">
      <%= render partial: 'bakery_products', collection: @bakery_products, as: "bakery_products" %>
    </div>
  </section>
  <footer class="footer">
    <%= render 'home/footer' %>
  </footer>
</div>