<div class="page">
  <%= render 'home/header' %>
  <%= render 'productSide' %>
  <section class="deliProducts">
    <h1 class="dataBanner">Products - Deli</h1>
    <div class="dataContent">
      <%= render partial: 'deli_products', collection: @deli_products, as: "deli_products" %>
    </div>
  </section>
  <footer class="footer">
    <%= render 'home/footer' %>
  </footer>
</div>