<div class="page">
  <%= render 'home/header' %>
  <%= render 'productSide' %>
  <section class="giftwareProducts">
    <h1 class="dataBanner">Products - Giftware</h1>
    <div class="dataContent">
      <%= render partial: 'giftware_products', collection: @giftware_products, as: "giftware_products" %>
    </div>
  </section>
  <footer class="footer">
    <%= render 'home/footer' %>
  </footer>
</div>