<div class="page">
  <%= render 'home/header' %>
  <%= render 'productSide' %>
  <section class="importProducts">
    <h1 class="dataBanner">Products - Imports</h1>
    <div class="dataContent">
      <%= render partial: 'import_products', collection: @import_products, as: "import_products" %>
    </div>
  </section>
  <footer class="productImportFooter">
    <%= render 'home/footer' %>
  </footer>
</div>