<div class="page">
  <%= render 'home/header' %>
  <%= render 'productSide' %>
  <section class="allProducts">
    <h1 class="productsBanner">Products</h1>
    <div class="productsContent">
      <%= render partial: 'allProducts', collection: @all_products, as: "all_products" %>
    </div>
  </section>
  <footer class="productFooter">
    <%= render 'home/footer' %>
  </footer>
</div>