<div class="page">
  <%= render 'home/header' %>
  <%= render 'productSide' %>
  <section class="allProducts">
    <h1 class="productsBanner">Products - New</h1>
    <div class="productsNewContent">
      <%= render partial: 'new_products', collection: @new_products, as: "new_products" %>
    </div>
  </section>
  <footer class="productNewFooter">
    <%= render 'home/footer' %>
  </footer>
</div>