<div class="page">
  <%= render 'home/header' %>
  <%= render 'productSide' %>
  <section class="saleProducts">
    <h1 class="dataBanner">Products - Sale</h1>
    <div class="dataContent">
      <%= render partial: 'sale_products', collection: @sale_products, as: "sale_products" %>
    </div>
  </section>
  <footer class="footer">
    <%= render 'home/footer' %>
  </footer>
</div>