/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	width: 800px;
	margin: 0 auto;
	background-color: gray;
}

p.stockGood {
    color: green;
}

p.stockLow {
    color: yellow;
}

p.noStock {
    color: red;
}

/*Page Container*/
div.page {
	width: 780px;
	border: 3px solid black;
	background-color: #6D7F87;
	-webkit-border-radius:17px;
	-moz-border-radius:17px;
	border-radius:20px;
	-webkit-box-shadow:2px 2px 10px #000;
	-moz-box-shadow:2px 2px 15px #000;
	box-shadow:2px 2px 15px #000;
	margin-bottom: 10px;
}

/*End of page container*/


/*Header picture*/
div.pic img {
    width: 778px;
    margin-right: 1px;
    float: right;
    border-bottom: solid black 1px;
    -webkit-border-top-right-radius:17px;
    -webkit-border-top-left-radius:17px;
    -moz-border-top-right-radius:17px;
    border-top-right-radius:17px;
    -moz-border-top-left-radius:17px;
    border-top-left-radius:17px;
    
}

/*End of header picture*/


/*Top navigation bar*/
div.nav {
	width: 550px;
        height: 30px;
        padding-top: -15px;
        padding-bottom: 20px;
	background: #989CA2;
        border: solid black 1px;
        border-top: none; 
        float: left;
        -webkit-border-bottom-right-radius:75px;
	-moz-border-bottom-right-radius:75px;
	border-bottom-right-radius:75px;
        -webkit-box-shadow:2px 2px 10px #000;
	-moz-box-shadow:2px 2px 15px #000;
	box-shadow:2px 2px 15px #000;
}

div.nav li a:hover {
	color: #FCD116;
}

div.nav ul li { 
	display:inline;
	padding-left: 10px;
        padding-right: 5px;
        text-align: center;
}

div.nav ul li a{
	color: white;
	list-style-type: none;
        text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12pt;
}

/*End of top navigation bar*/


/*Sidebar*/
div.sideBar {
	position: fixed;
	width: 155px;
	margin-top: 157px;
	margin-left: 5px;
	background-color: #989CA2;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
        border: solid black 1px;
        -webkit-box-shadow:2px 2px 10px #000;
	-moz-box-shadow:2px 2px 15px #000;
	box-shadow:2px 2px 15px #000;
}

div.sideBar ul li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 14pt;
}

div.sideBar ul li{
	list-style-type: none;
        text-align: center;
        margin-right: 35px;
        margin-left: -5px;
        padding-top: 5px;
        padding-bottom: 5px;
}

div.sideBar li a:hover {
	color: #FCD116;
}

/*End of sidebar*/

/*Search Bar*/

div.searchBar {
    float: right;
    margin-right: 8px;
    margin-top: 10px;
}

input {
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
}

input.searchButton {
    float: right;
    margin-right: -65px;
    margin-top: 20px;
}

input#search_keywords {
    font-size: 12pt;
    width: 135px;
    float: left;
    margin-top: -5px;
    margin-right: 5px;
}

select#category_id {
   float: right;
   margin-right: 5px;
   margin-top: -4px;
   width: 65px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
}

/*End of search bar*/

/*CSS for displaying items pulled from database*/

h1.dataBanner{
	float: right;
	width: 600px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	padding-left: 05px;
	background-color: #0B2E53;
	color: white;
        -webkit-border-top-right-radius:17px;
        -moz-border-top-right-radius:17px;
        border-top-right-radius:17px;
}

div.dataContent {
	background-color: gray;
	width: 603px;
	float: right;
	margin-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
	border: solid black 1px;
}

img.dataImage {
    margin-left: 22px;
    margin-top: 10px;
    width: 150px;
    height: 150px;
}

div.dataBox {
    background-color: white;
    width: 195px;
    height: 335px;
    margin-left: 3px;
    display: inline-block;
    float: left;
    border: solid black 1px;
}

div.dataBoxContent {
    text-align: center
}

div.dataBoxContent a:link{
    text-decoration: none;
    color: #000;
}

/*end of data item display*/

/*Footer*/
footer.footer {
    text-align: center;
    width: 600px;
    overflow: auto;
    margin-left: 85px;
    padding-top: 25px;
    padding-bottom: 25px;
}
/*End of footer*/

/*About Us Page*/


/*About info*/
h1.aboutBanner {
    width: 370px;
    background-color: #0B2E59;
    color: white;
    float: left;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 8px;
}

section.aboutBody {
    width: 372px;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    float: left;
    margin-top: -20px;
    margin-right: 235px;
    margin-left: 5px;
}
/*End of about info*/

/*About Picture*/
section.aboutPic {
    float: right;
    margin-top: -280px;
    margin-right: 5px;
}
/*End of about picture*/

/*End of about page*/

/*Contact Us Page*/

h1.contactBanner {
    width: 360px;
    background-color: #0B2E59;
    color: white;
    float: left;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 8px;
}

div.contactContent {
    width: 361px;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    float: left;
    margin-top: -21px;
    margin-right: 235px;
    margin-left: 20px;
    text-align: center;
}

h1.hoursBanner {
    width: 235px;
    background-color: #0B2E59;
    color: white;
    float: right;
    margin-right: 20px;
    margin-top: -208px;
    padding-left: 5px;
    padding-right: 8px;
}

div.storeHours {
    width: 245px;
    height: 168px;
    border: 1px solid black;
    background-color: white;
    float: right;
    margin-top: -170px;
    margin-right: 20px;
}

div.storeHours li {
    list-style-type: none;
}

/*End of Contact Us page*/

/*Show product Page*/

h1.showBanner{
	float: left;
	width: 755px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 0px;
	padding-left: 5px;
	background-color: #0B2E53;
	color: white;
}

div.showContent {
        float: right;
	background-color: gray;
	width: 758px;
	float: left;
	margin-left: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
	border: solid black 1px;
}

img.showImage {
    margin-left: 10px;
    margin-top: 10px;
    width: 250px;
    height: 250px;
    float: left;
    margin-bottom: 10px;
    border: solid black 1px;
}

div.showBoxContent {
    text-align: center;
    font-size: 20pt;
}

/*End of show product page*/